body
{
    background-image: url("./img/img1.jpg.jpg");
    background-size: contain;
}



form
{
    height: 450;
    width: 400;
    border: 3px solid;
    border-color: dimgrey;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 75%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid lightslategrey; 
    box-shadow: whitesmoke;
    padding: 50px 35px;
}
form *
{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
}
label
{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}
input
{
    display: block;
    height: 50px;
    width: 100%;
    background-color:white;
    border-radius: 20px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
#Username,#Password{
    color: #080710;
    font-size: 20px;
}
button
{
    margin-top: 30px;
    width: 50%;
    position: center;
    background-color: #ffffff;
    color: #080710;
    padding: 10px ;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
}
h3
{
    background-color:  transparent;
    width: 350;
    color: whitesmoke;
    font-size: 30px;
}
img
{
    height: 200px;
    width: 200px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 20%;
    left: 75%;
}
p
{
    font-size: 15px;
}